<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar #search value="" placeholder="Suchen"></ion-searchbar>

  <ion-item no-lines>
    <ion-label>Geschlossene Lists zeigen</ion-label>
    <ion-toggle [(ngModel)]="showClosed"></ion-toggle>
  </ion-item>

  <ion-list>
    <button ion-item *ngFor="let list of (listsArr | FilterList : showClosed : search.value)">
      {{list.name}}
    </button>
  </ion-list>

</ion-content>
