<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{boardName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar #search value="" placeholder="Suchen"></ion-searchbar>

  <ion-list>
    <ion-item-sliding #item *ngFor="let list of (listsArr | FilterList : search.value)">
      <button ion-item>
        {{list.name}}
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="changeList(list.id, list.name)">Ändern</button>
        <button ion-button color="danger" (click)="deleteList(list.id)">Löschen</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
