<ion-header *ngIf="trelloAuthorized">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="trelloAuthorized">

  <ion-searchbar #search value="" placeholder="Suchen"></ion-searchbar>

  <ion-item no-lines>
    <ion-label>Geschlossene Boards zeigen</ion-label>
    <ion-toggle [(ngModel)]="showClosed"></ion-toggle>
  </ion-item>

  <ion-list>
    <button ion-item *ngFor="let board of (boardsArr | FilterBoard : showClosed : search.value)" (click)="openBoard(board.id)">
      {{board.name}}<br><span style="color:grey; font-size:12px">Mitglieder: {{board.member}}</span>
    </button>
  </ion-list>

</ion-content>
